h2{
    margin:0;
    border: 1.5px solid #0e0d0c;
    bottom: 2px;
    left: 10;
    min-width: 1000px;
    top: 0px;
    width: 99%;
    height:30px;
    text-align:center;
    background-color: rgba(247, 242, 242, 0.966);
}

#map{
    margin:0;
    border: 1.5px solid #0e0d0c;
    border-top:1.5px solid transparent;
    bottom: 2px;
    left: 10;
    min-width: 1000px;
    top: 0px;
    width: 99%;
    height:670px;
}
