body {
    margin-bottom: 10%;
}

h2 {
    text-align: center;
    text-decoration-line: underline;
    padding-top: 8px;
}

/* Layer Control Container divs*/

.layer-controls {
    position: absolute;
    height: 80%;
    left: 1%;
    right: 88%;
    border: 1pt solid;
    padding: 3px;
}

.base-maps {
    position: absolute;
    top: 0%;
    bottom: 66%
}

.layers {
    position: absolute;
    top: 33%;
    bottom: 33%
}

.supporting_information {
    position: absolute;
    top: 66%;
    bottom: 0%
}

#earth-flag {
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

/* Map Container divs*/

#map {
    position: absolute;
    height: 80%;
    left: 12.1%;
    right: 1%;
    border: 1pt solid;
    padding: 3px;
}

.ol-mouse-position {
    font-style: normal;
    position: absolute;
}

.ol-scale-line {
    left:25%;
}

.ol-attribution.ol-uncollapsible {
    left: 50%;
}